@font-face {
    font-family: 'Codec' ;
    src: url('../../.././fonts/codec-pro-extrabold.ttf') format('truetype');
    font-family: regular;
  }
  
  
  .lore-characters{
    background-color:#101728 ;
    padding-bottom: 150px;
  }
  
  
  .lore-card-characters ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .description-characters{
    height:80px;
    width: 250px;
    padding:6px;
    box-sizing: border-box;
    position:absolute;
    bottom:10px;
    color:#FFF; 
    transition: .5s;
  }
  
  
  
  .card-characters{
    border: 1px solid #9340FF;
    border-radius: 10px;
    height: 330px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow:hidden;
    position: relative;
    transition: 0.3;
  }
  
  .card-characters img{
    height: 400px;
    width: 250px;
    border-radius:5px; 
  }
  
  .description-characters button{
    padding: 8px;
    width: 110px;
    border: none;
    margin-left: 10px;
    background: rgb(147,64,255);
    background: linear-gradient(90deg, rgba(147,64,255,1) 0%, rgba(16,23,40,1) 100%);
    border-radius: 5px 5px 20px 5px;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
    cursor: pointer;
  }
  
  .description-characters button:hover {
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
    background-color: #065dd8;
    transform: translateY(-2px);
  }
  
  .description-characters h2{
    margin:10px;
    font-size: 25px;
  }
  
  .description-characters p{
    font-size: 14px;
    margin: 10px;
    text-align: left;
    visibility:hidden;
    opacity: 0;
    line-height: 25px;
    max-height: 90px;
    overflow-y: auto;
  }
  
  .card-characters:hover{
    cursor:pointer; 
  }
  .card-characters:hover .description-characters{
    height:300px;
    bottom:-4px;
    background:black;
  }
  .card-characters:hover p{
    opacity:1;
    visibility: visible;  
  }
  .card-characters:hover img{
    transition: .5s;
    transform:scale(1.1);
  }
  
  .content-characters{
    display: flex;
  }
  
  .popUpCard-characters{
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    border: 0.5px solid #9340FF;
    min-width: 50%;
    padding: 10px;
    height: 70%;
    background-color: #202B39;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: 0.3s;
  }
  
  .popUpCard-characters h2{
    font-size: 35px;
    font-family: 'Codec', sans-serif;
    color: #9340FF;
  }

  .popUpCard-characters h4{
    margin-top: 10px;
    font-family: 'Codec', sans-serif;
    color: #9340FF;
  }
  
  .popUpCard-characters p{
    overflow-y: auto;
    border: none;
    max-height: 300px;
    font-size: 16.5px;
    font-family: 'Codec', sans-serif;
    text-align: justify;
    color: white;
    line-height: 25px;  
  }
  
  .popUpCard-characters p::-webkit-scrollbar {
    width: 2px; /* Largura da barra de rolagem */
  }
  
  .popUpCard-characters p::-webkit-scrollbar-track {
    background-color: #f1f1f100; /* Cor de fundo da área da barra de rolagem */
  }
  
  .popUpCard-characters p::-webkit-scrollbar-thumb {
    background-color: #9340FF; /* Cor do "polegar" da barra de rolagem */
    border-radius: 10px; /* Borda arredondada do "polegar" */
  }
  
  .popUpCard-characters p::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor do "polegar" ao passar o mouse */
  }

  figcaption{
    font-size: 35px;
    font-family: 'Codec', cursive;
    font-weight: bold;
    color: #64399b;
  }

  .personal-characteristics {
    font-size: 16.5px;
    font-family: 'Codec', sans-serif;
    font-weight: bold;
  }

  .personal-characteristics {

    padding-top: 15px;

  }


  .purple-text{
    color:#9340FF;
  }
  
  
  .card-up-characters{
    padding: 10px;
    width: 100%;
    border-radius: 60px;
  }
  
  .image-x-characters{
    margin-top: 10px;
    margin-left: 97%;
    cursor: pointer;
    
  }
  
  .image-x-characters:hover{
    transition: .5s;
    transform:scale(1.2);
  }