.loreButtons{
    display: flex;
    background-color:#101728 ;
    padding-bottom: 59px;
}

.loreButtons button{
    background: rgb(147,64,255);
    background: linear-gradient(90deg, rgba(147,64,255,1) 0%, rgba(16,23,40,1) 100%);
    border-radius: 25px;
    border: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 63px;
    margin-top: 100px;
    width: 238px;
    height: 63px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
  }
  
.loreButtons button:hover {
    background-color: #065dd8;
    transform: translateY(-2px);
  }