@font-face {
  font-family: 'Codec' ;
  src: url('./fonts/codec-pro-extrabold.ttf') format('truetype');
  font-family: regular;
}


*{
  padding: 0px;
  margin: 0px;
}

.App{
  
}


.logo{
  display: flex;
  align-items: center;
  background-color: #101728;
  font-family: 'Codec', sans-serif;
  align-items: center;
  padding-left: 63px;
  padding-top: 14px;
  cursor: pointer;
}
